body {
  --sakura-text: #562135;
  --sakura-middle: #fcd1d7;
  --sakura-light: #ffe7de;


  font-family: Roboto, sans-serif;
  background: url('./images/nihonbackground.png') #ffe7de no-repeat bottom fixed;
  background-size: 100%;
}

:global(.MuiCheckbox-root) {
  padding: 0 !important;
}

.block {
  margin-bottom: 16px;
}

.buttonBar {
  display: flex;
  margin-bottom: 16px;
  justify-content: space-between;
}

.showSolution {
}

.selectionBlock {
  display: flex;
  margin-bottom: 32px;
}

.checkBoxList {
  margin-right: 64px;
}

.title {
  font-size: 24px;
  margin: 0 0 8px 0;
}

.wordBlock {
  width: 1290px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.word {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  margin-bottom: 25px;
  margin-right: 25px;
  background-color: #fff1f8;
  padding: 15px;
  border-radius: 5px 15px 5px 15px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.25);
}

.word:active {
  background-color: var(--sakura-middle);
}

.word:hover {
  cursor: pointer;
}

.bigText {
  font-size: 40px;
}

.smallText {
  font-size: 20px;
}

.configList {
  border: 1px solid var(--sakura-text);
  border-radius: 10px;
  padding: 16px;
  display: inline-block;
  margin: 16px 0 16px 0;
  background-color: var(--sakura-middle);
  color: var(--sakura-text);
  min-width: 900px;
}

.container {
  margin: 16px;
}

.buttons {
  margin-right: 32px;
}

.kanjiModeSwitch {
  margin-left: 8px !important;
}

.summary {
  margin-bottom: 16px;
}
