.block {
    margin-bottom: 16px;
}

.checkBoxList {
    margin-right: 32px;
}

.wordBlock {
    width: 1125px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.word {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 100px;
    margin-bottom: 25px;
    margin-right: 25px;
}

.bigText {
    font-size: 40px;
}

.smallText {
    font-size: 20px;
}